@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@/assets/icomoon/style.css";
@utility container {
    margin-inline: auto;
    padding-inline: 1rem;
}

/* Fix for Tailwind v4 default border color change */
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

@layer utilities {
    .transition-300 {
        transition-property: all;
        transition-duration: 300ms;
    }

    .absolute-x {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .absolute-y {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .absolute-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .flex-y-center {
        display: flex;
        align-items: center;
    }

    .flex-x-center {
        display: flex;
        justify-content: center;
    }

    .flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .flex-center-between {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .flex-between {
        display: flex;
        justify-content: space-between;
    }
}

/* Regular CSS */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    background: #f7faf8;
    transition: background-color 5000s ease-in-out 0s;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    cursor: pointer;
}

p,
span,
a {
    line-height: 130% !important;
}

.validation-message a {
    color: dodgerblue;
}

.static-pages h1 {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 4px;
}

.static-pages h2 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 4px;
}

.static-pages h3 {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 4px;
}

.static-pages h4 {
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 4px;
}

.static-pages h5 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 4px;
}

.static-pages p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 4px;
}

.static-pages a {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.static-pages ul {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
